/* Reset do CSS */
* {
    margin: 00px;
    padding: 30px;
}

h1,p {
    text-align: center;
}

header {
    background-color:rgb(57, 136, 240);
    color:azure;
    font-family:Georgia, 'Times New Roman', Times, serif
}